#navigation-da08ed91-0ae9-4832-861b-e6436117f653 {
	text-align: center;
}#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li > a {
			font-family: 'Pontano Sans', sans-serif;
			font-size: 16px;
		}
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li {
			margin: 10px 5px 10px 0px;
		}
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 10px 17px 10px 17px;
			border: solid #E06700;
			border-width: 0;
			border-radius: 6px 6px 6px 6px;
			box-shadow: none;
		}
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 10px 17px 10px 17px;
			border: solid #E06700;
			border-width: 0;
			border-radius: 6px 6px 6px 6px;
			box-shadow: none;
		}
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.selected,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.childselected,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.selected:hover,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.childselected:hover,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li:hover {
			margin: 10px 5px 10px 0px;
		}
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.selected > a,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.childselected > a,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.selected:hover > a,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.childselected:hover > a,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li:hover > a {
			padding: 10px 17px 10px 17px;
			border: solid #E06700;
			border-width: 0;
			border-radius: 6px 6px 6px 6px;
			box-shadow: none;
		}
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li.selected,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li.childselected,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li.selected:hover,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li.childselected:hover,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li.selected > a,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li.childselected > a,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li.selected:hover > a,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li.childselected:hover > a,
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul li:hover > a {
			padding: 10px 17px 10px 17px;
		}

		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 > li.normal > a { color: #f8f9f6;}
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 > li.normal > a { background-color: #C70F1A; } #navigation-da08ed91-0ae9-4832-861b-e6436117f653 > li.normal > a { background-image: none; }
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.selected > a, #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.childselected > a { color: #C70F1A; }
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.selected > a, #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.childselected > a { background-color: #C70F1A; }
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul > li.normal > a { color: #C70F1A; }#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul > li.normal > a { background-image: none; }
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul > li.normal > a { background-color: #c70F1a; }
		
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.normal:hover > a { color: #C70F1A; }
		#navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.normal:hover > a { background-color: #C70F1A; } #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.selected > a, #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.childselected > a, #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.normal:hover > a { background-image: none; }.mobile-view #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.selected > a,
		.mobile-view #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.childselected > a { color: #C70F1A; }.mobile-view #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.selected > a,
		.mobile-view #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li.childselected > a { background-color: transparent; }.mobile-view #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li:hover > a { color: #C70F1A; }.mobile-view #navigation-da08ed91-0ae9-4832-861b-e6436117f653 li:hover > a { background-color: transparent; }.mobile-view #navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul > li > a { color: #f8f9f6; }.mobile-view #navigation-da08ed91-0ae9-4832-861b-e6436117f653 ul > li > a { background-color: transparent; }